@import url(Fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#site_container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1e1e2e;
    height: 100%;
    width: 100%;
}

#app_container {
    border: solid 2px #f38ba8;
    padding: 20px;
    color: w;
}