@import url(Fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);

:root {
    --base: #1e1e2e;
    --mantle: #181825;
    --surface: #313244;
    --surface0: #45475a;
    --text: #cdd6f4;

    --flamingo: #f2cdcd;
    --maroon: #eba0ac;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --green: #a6e3a1;
    --blue: #89b4fa;
    --yellow: #f9e2af;
    --teal: #94e2d5;
    --sapphire: #74c7ec;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    font-family: 'Nunito Sans', sans-serif;
    color: var(--text);
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#site_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: var(--base);
    height: 100%;
    width: 100%;
}

#app-container {
    background-color: var(--surface);
    padding: 20px;
    border-radius: 1em;
    color: var(--text);
    font-size: 1.5em;
}

#layout-options {
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

#layout-options button {
    background-color: var(--flamingo);
    border: none;
    border-radius: 0.5em;
    padding: 7px;
    margin: 5px 10px 5px 10px;
    cursor: pointer;
    opacity: 1;
    font-size: 0.8em;
}

#app-container > .splitter {
    background-color: var(--surface0);
    width: 90%;
    height: 2px;
    margin-bottom: 20px;
}

#layout_options button:hover {
    opacity: 0.6;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 520px);
    width: auto;
}

.card {
    margin: 10px 10px 20px 10px;
    max-width: 450px;
}

#card__tools,
#card__html,
#card__css,
#card__javascript,
#card__game {
    display: none;
}

.card__header {
    background-color: var(--text);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    color: var(--mantle);
    opacity: 1;
}

.card__header:hover {
    opacity: 0.6;
}

.card__inner {
    border: solid 2px var(--maroon);
    background-color: var(--surface0);
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 0.7em;
}

.card__inner code {
    font-size: 1.2em;
}

.card__header.green {
    background-color: var(--green);
}

.card__inner.green {
    border-color: var(--green);
}

.card__header.blue {
    background-color: var(--blue);
}

.card__inner.blue {
    border-color: var(--blue);
}

.card__header.red {
    background-color: var(--red);
}

.card__inner.red {
    border-color: var(--red);
}

.card__header.yellow {
    background-color: var(--yellow);
}

.card__inner.yellow {
    border-color: var(--yellow);
}

.card__header.black {
    background-color: var(--base);
    color: var(--text);
}

.card__inner.black {
    border-color: var(--base);
}

.card__inner a {
    color: var(--sapphire);
    text-decoration: none;
}

.card__inner a:hover {
    color: var(--flamingo);
}

.card__inner a:visited {
    color: var(--flamingo)
}

.card__inner li {
    margin-top: 2px;
}

#card__game {
    margin-top: 20px;
    margin-bottom: 20px;
}

.body_part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.body_part > button {
    margin: 5px;
    background-color: inherit;
    border: solid 2px var(--blue);
    border-radius: 10px;
    color: var(--text);
    font-size: 1.2em;
    cursor: pointer;
}

.body_part > button:hover {
    border-color: var(--maroon);
}
